/* html page */
.html-page {
    width: 100%;
    padding: 50px 20px;
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.tags-table-section {
    max-width: 100%;
    margin: 0 auto;
    overflow: scroll;
}


/* h3 {
    color: #333;
} */





.block-example {
    background-color: #dff9fb;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #aaa;
}

.inline-block-example {
    display: inline-block;
    width: 100px;
    height: 60px;
    background-color: #7ed6df;
    margin: 5px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}

.inline-block-example:hover {
    background-color: #22a6b3;
    cursor: pointer;
}

.block-example:hover {
    background-color: #dfe6e9;
    cursor: pointer;
}

.examples h2,
.intro h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.intro p {
    line-height: 1.6;
    margin-bottom: 20px;

}

.intro ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

/* .examples h3 {
    margin: 20px 0;
} */

code {
    background-color: #eee;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
    color: #5d11ab;
}

.form-example {
    margin-top: 40px;
    padding: 20px;
    background: #dcc1fe;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 500px;
    row-gap: 10px;
    border-radius: 10px;
}

.html_form input {
    width: 100%;
    padding: 15px !important;
    border-radius: 10px;
    border: solid !important;
    margin-bottom: 5px;
}

.html_form select {
    padding: 10px;
}

.html-form-checkbox {
    display: inline;
    column-gap: 5px;
}

video,
audio,
img {
    margin-top: 10px;
    max-width: 100%;
}

.html-container {
    padding: 50px;
    background-color: black;
    /* color: white; */

}

@media(max-width:500px) {
    .html-container {
        padding: 30px 20px;
    }
}

.accordion {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    margin-bottom: 12px;
    overflow: hidden;
}

.accordion-header {
    width: 100%;
    padding: 20px;
    background-color: #dcc1fe;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #4a0983;
    color: white;
    border: none;
    box-shadow: #dcc1fe 0px 30px 60px -12px inset, #dcc1fe 0px 18px 36px -18px inset;
}

.accordion-content {
    padding: 16px;
    background-color: gainsboro;
    animation: fadeIn 0.3s ease-in-out;
}

.accordion-content h2 {
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inspiration_html {
    background-color: #f3e9ff;
    padding: 24px;
    margin: 20px 0;
    border-left: 6px solid #4a0983;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 8px #bd34fe;
    color: #4a0983;
}

.inspiration h2 {
    color: greenyellow;
    margin-bottom: 10px;
}

.inspiration p {
    font-size: 16px;
    line-height: 1.6;
}

.inspiration ul {
    padding-left: 20px;
    margin-top: 10px;
}

.inspiration li {
    margin-bottom: 8px;
    font-size: 15px;
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    color: #4a0983;
}

.example {
    background: #fff;
    padding: 15px 30px;
    border: 1px dashed #aaa;
    margin-bottom: 20px;
    color: #333;
}