* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}



/* Common Tags Styles */

header h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}


h2 {
  margin: 20px 0;
}

p {
  line-height: 1.6;
}

pre {
  margin: 30px 0;
  background: #eee;
  padding: 10px;
  overflow-x: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: black;
  color: white;
  box-shadow: 0 0 8px rgb(103, 255, 1);
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #009688;
  color: white;
}

tr:nth-child(even) {
  background-color: gray;
}

section {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 30px 0;
    border-left: 5px solid #4CAF50;
    box-shadow: 0 0 8px rgb(103, 255, 1);
}

.highlight {
    background-color: yellow;
}

/* css */


.learn-box {
  background: gray;
  border-left: 6px solid greenyellow;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(103, 255, 1);
  max-width: 100%;
  margin: auto;
  line-height: 30px;
}

#unique {
  color: #16a34a;
  text-decoration: underline;
}