@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* Large laptops and desktops */
@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* Small tablets and large phones */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Small devices (phones) */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 15px;
    /* optional tighter padding for very small screens */
  }
}




/* Common Tags Styles */

header h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}


h2 {
  margin: 20px 0;
  text-shadow: 2px 4px 4px rgb(230, 141, 248);

}

@media(max-width:500px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  li {
    font-size: 13px;
  }

  th,
  td {
    font-size: 10px !important;
    font-weight: 100 !important;
  }

  table {
    overflow: scroll;
  }
}

@media(max-width:800px) {
  table {
    overflow: scroll;
  }
}



p {
  line-height: 1.6;
}

pre {
  margin: 30px 0;
  background: #eee;
  padding: 10px;
  overflow-x: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: black;
  color: white;
  box-shadow: 0 0 8px #bd34fe;
  overflow: scroll;
}

th,
td {
  border: 1px solid #ccc;
  padding: 20px 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

th {
  background-color: #5d11ab;
  color: white;
}

tr:nth-child(even) {
  background-color: #827196;
}

section {
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 30px 0;
  border-left: 5px solid #5d11ab;
  box-shadow: 0 0 8px #bd34fe;
}

ul li {
  list-style: square;
  margin: 20px 40px;
}

.highlight {
  background-color: yellow;
}

/* css */


.learn-box {
  background: gray;
  border-left: 6px solid greenyellow;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px #bd34fe;
  max-width: 100%;
  margin: auto;
  line-height: 30px;
}

#unique {
  color: #16a34a;
  text-decoration: underline;
}

.custom_dialog .MuiDialogTitle-root {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1d3557;
  text-align: center;
}

.custom_dialog input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.custom_dialog button[type="submit"] {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.custom_dialog button[type="submit"]:hover {
  background-color: #115293;
}
